$red: #F53C3D;
$Form-item-border: 0 0 1px 0 !default;
$Form-item-borderRadius: 0 !default;
$Form-label-paddingLeft: 1rem !default;
$Form-star-marginLeft: 0.5rem !default;
$DatePicker-paddingX: $Form-label-paddingLeft;
$DatePicker-borderWidth: 0;
$Form-input-borderWidth: 0;
// $Form-input-paddingY: 1rem;
$Form-input-paddingX: $Form-label-paddingLeft;
$Button-boxShadow: none;
